<div class="panel panel-default">
  <div class="panel-body"><%=link_to (t :cart).to_s,cart_path(@cart, locale:params[:locale]) %></div>
</div>

<h2><%=t :hello%></h2>
<p id="notice"><%= notice %></p>
<%=render 'table' %>



<% if admin_signed_in? %>

    <ul>
      <li><%=link_to 'Products',admin_products_path %></li>
    </ul>
    <br>
    <%=link_to 'Logout',destroy_admin_session_path, :method => :delete %>
<% else %>
    <%=link_to 'Login',admin_session_path %>
<% end %>






